<%- include('../partials/header') %>

    <span>
        <h1>
            <%= title %>
                <% if(user) { %>
                    <a class="add white-text" href="/details/new">
                        <button type="submit" class="waves-light black btn-small add-btn">
                            Add your details<i class="material-icons right white-text">local_office</i>
                        </button>
                    </a>
                    <% } %>

        </h1>
    </span>

    <div class="section">
        <div class="row">
            <div class="col s12 m12">
                <% if (details.length) { %>
                    <% details.forEach(function(c) { %>
                        <div class="text">
                            <p class="text">
                                <%= c.icornName %>
                            </p>
                        </div>
                        <div class="col s4 m4">
                            <div class="card">
                                <a href="/details/<%= c._id %>">
                                    <div class="card-image">
                                        <img class="detail-image" src="<%= c.imageUrl %>">

                                    </div>
                                </a>

                                <div class="card-action">
                                    <div class="row content-box">
                                        <p class="text">
                                            <%= c.name %>
                                                <%= c.icornName %>
                                        </p>

                                        <% if(user) { %>

                                            <a href="/details/<%= c._id %>/edit"
                                                class="waves-effect black btn-small edit-btn"><i
                                                    class="small material-icons white-text">edit_outline</i></a>

                                            <% } %>

                                                <% if(user) { %>
                                                    <form action="/details/<%= c._id %>?_method=DELETE"
                                                        class="delete-form" method="POST">
                                                        <button type="submit"
                                                            class="waves-effect black btn-small delete-btn"><i
                                                                class="small material-icons white-text">delete_outline</i></button>
                                                    </form>
                                                    <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
            </div>
        </div>
        <% } else { %>
            <h3>Please Add ideas</h3>
            <% } %>


                <%- include('../partials/footer') %>
                    }